<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Shiva</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShivaPersist</display-name>
    <servlet-name>ShivaPersist</servlet-name>
    <servlet-class>serverSide.ShivaPersist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShivaPersist</servlet-name>
    <url-pattern>/ShivaPersist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServ</display-name>
    <servlet-name>TestServ</servlet-name>
    <servlet-class>serverSide.TestServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServ</servlet-name>
    <url-pattern>/TestServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaraServe</display-name>
    <servlet-name>MaraServe</servlet-name>
    <servlet-class>serverSide.MaraServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaraServe</servlet-name>
    <url-pattern>/MaraServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarathiServe</display-name>
    <servlet-name>MarathiServe</servlet-name>
    <servlet-class>serverSide.MarathiServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarathiServe</servlet-name>
    <url-pattern>/MarathiServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authServlet</display-name>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>serverSide.authServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/authServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>serverSide.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registeruser</display-name>
    <servlet-name>Registeruser</servlet-name>
    <servlet-class>serverSide.Registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registeruser</servlet-name>
    <url-pattern>/Registeruser</url-pattern>
  </servlet-mapping>
</web-app>