<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GODCloudBackend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GODGaliBroadCast</display-name>
    <servlet-name>GODGaliBroadCast</servlet-name>
    <servlet-class>com.onine.servlet.GODGaliBroadCast</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GODGaliBroadCast</servlet-name>
    <url-pattern>/GODGaliBroadCast</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GODRegistrator</display-name>
    <servlet-name>GODRegistrator</servlet-name>
    <servlet-class>com.onine.servlet.GODRegistrator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GODRegistrator</servlet-name>
    <url-pattern>/GODRegistrator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>History</display-name>
    <servlet-name>History</servlet-name>
    <servlet-class>com.onine.servlet.History</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
</web-app>